services:
  postgres:
    container_name: postgres-15.3-alpine3.18
    image: postgres:15.3-alpine3.18
    environment:
      POSTGRES_USER: abdulrehman
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
  postgres: